@use "variables-plant";
.plant-container {
  width: 100%;
  height: 184px;
  background: #e8edde;
}
.main-container {
  display: flex;
  //   flex-wrap: wrap;
  justify-content: center;
  margin-left: 8%;

  width: 100%;
  gap: 6%;
  .img {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
    gap: 11px;
    img:nth-child(1),
    img:nth-child(2) {
      grid-row: 1;
    }
    img:nth-child(3),
    img:nth-child(4) {
      grid-row: 2;
    }
  }
  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 6px;
      color: #000;
      font-family: Poppins;
      font-size: 36px;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: -1.5px;
    }
    .price {
      color: #000;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.3px;
      margin-bottom: 23px;
    }
    .text {
      color: var(--Primary, #0d0d0d);
      font-family: Open Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 140% */
      letter-spacing: -0.4px;
      width: clamp(200px, 50%, 447px);
      margin-bottom: 50px;
    }
    .text-size {
      color: #000;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.3px;
      width: clamp(200px, 50%, 447px);
      margin-bottom: 11px;
      opacity: 0.5;
    }
    .size {
      display: flex;
      gap: 8px;

      p {
        display: flex;
        width: clamp(35px, 50%, 50px);
        height: clamp(35px, 50%, 50px);
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0);
        color: var(--Primary, #0d0d0d);
        text-align: center;
        font-family: Public Sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px; /* 137.5% */
        letter-spacing: -0.4px;
      }
      p:last-child {
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        opacity: 0.5;
      }
      p:last-child::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    div {
      display: flex;
      gap: 18px;
      flex-wrap: wrap;
      // position: relative;

      button {
        align-self: self-end;
        display: flex;
        width: clamp(150px, 35vw, 350px);
        height: clamp(30px, 10vh, 50px);
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 20px;
        background-color: Green;
        border: none;
        color: var(--colors-white, #fff);
        text-align: center;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 137.5% */
        letter-spacing: -0.4px;
        text-transform: uppercase;
      }
      .plus-minus {
        display: flex;
        padding: 12px 10px;
        border-radius: 12px;
        border: 1px solid #000;
        justify-content: center;
        align-items: center;
        position: relative;

        .minus,
        .plus {
          opacity: 0.5;
          cursor: pointer;
        }
        .value {
          color: var(--Primary, #0d0d0d);
          text-align: center;
          font-family: Open Sans;
          font-size: 18px;
          font-weight: 400;
          line-height: 26px; /* 144.444% */
          letter-spacing: -0.3px;
        }
      }
    }
  }
}
.quantity {
  display: flex;
  flex-direction: column;
  p.text-content {
    opacity: 0.5;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.3px;
  }
}
.paragraph {
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.4px;
  margin-top: 12px;
  opacity: 0.5;
}
.back {
  margin: 16px 0 90px 8%;
  display: flex;
  gap: 8px;
  p {
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.5);
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
