.nav-social {
  background-color: #e8edde;
  width: 100%;
  height: 239px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
