@media (max-width: 720px) {
  .menu-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "dropdown" "plants";
    justify-content: center;
    align-items: center;
  }
  .plants-shop {
    grid-area: plants;
    position: relative;
  }
  .dropdown {
    grid-area: dropdown;
    width: 100%;
    margin-bottom: 20px;
  }
  .all-categories {
    padding-left: 10px;
  }
  .sort {
    display: none;
  }
  .shop-container {
    height: clamp(184px, 50vh, 100%);
  }
}
