@use "variables";
@media screen and (max-width: 768px) {
  .header-container h3 {
    display: none;
  }
  nav {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .content {
    margin-left: 12px;
    margin-right: 12px;
  }
  .shop-all {
    padding-bottom: 15px;
  }
  .plants-container {
    align-items: center;
    justify-content: center;
  }
  .selling-container {
    padding-left: 25px;
  }
}
